.container__map {
	background-image: url('../../public/images/map.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 2rem;
	overflow: hidden;
	text-align: center;
	height: 50vh;
}
