.container__signup {
	/* width: 100vw; */
	background-image: url('../../public/images/beanfarm.jpg');
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: var(--text-white);
	overflow: hidden;
}

.container__signup .signup__section {
	background-color: #0000008f;
}

.container__signup a:hover {
	text-decoration: underline !important;
  }