:root {
  --dark-green: #1e5631;
  --light-green: #a4de02;
  --temp-green: #76ba1b;
  --normal-green: #4c9a2a;
  --hover-green: #acdf87;
  --fair-green: #68bb59;
  --bg-dark: #000000;
  --text-white: #ffffff;
  --text-dark: #161616;
  --text-faint: #e4e4e4;
  --text-ash: #b6b6b6;
  --hover-color: #d4f3ab;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  text-decoration: none !important;
}

.logo {
  width: 8rem;
  padding-bottom: 2rem;
  color: var(--dark-green);
}

.brand {
  width: 10rem;
  /* padding: 2rem; */
}

a {
  color: var(--dark-green);
  font-weight: 500;
  font-size: 1.1rem;
}


.errors {
	color: #ff0037;
}

.heading {
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.heading .title {
  font-size: 2.5rem;
  font-weight: 700;
}

.heading p {
  font-size: 1.2rem;
}

.btn-lg {
  background-color: var(--normal-green);
  border: 0.1rem solid var(--dark-green);
  color: var(--text-white);
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
}

.btn-lg:hover {
  background-color: var(--light-green);
  color: var(--text-white);
}

.btn-sm-alt {
  background: var(--text-dark);
  border: 0.1rem solid var(--text-ash);
  color: var(--text-white);
  border-radius: 0.5rem;
  padding: 0.6rem 1.5rem;
  display: flex;
  justify-content: center;
}

.btn-sm-alt:hover {
  background: var(--text-ash);
  color: var(--text-dark);
}

/* FORM CSS */
.container__signin,
.container__signup {
  height: 100vh;
}

input[type="email"],
input[type="text"] {
  padding: 0.8rem;
}


.navbar-toggler {
  border: 1px solid var(--text-dark);
  margin-top: -0.7rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
  color: var(--dark-green) !important;
}

.navbar-toggler .navbar-toggler-icon {
  color: var(--dark-green) !important;
  /* background-color: var(--dark-green); */
}








/* Responsiveness  */

@media (min-width: 768px) {
  .container__services .card,
  .container__about .card {
    width: 14rem;
    margin-right: 0.5rem;
  }

  .container__map {
    height: 100vh;
    margin: 4rem auto;
    margin-bottom: 8rem;
  }

  .container__profile {
    margin-top: 5rem;
  }

    /* Agriulture CSS  */
    .container__hero .row .hero_title h1 {
      font-size: 2.5rem !important;
    }
    .container__hero .row .hero_title p {
      font-size: 1.5rem !important;
    }
  
    .container__hero .title__row .hero_search {
      width: 50% !important;
      font-size: 1.25rem;
    }

    .container__products .bottom_product .products .product {
      padding-top: 7rem !important;
    }

}

@media (min-width: 1024px) {
  .navbar #navbarText .navbar-nav li:last-child {
    margin-left: 2rem;
  }

  .navbar #navbarText .nav-item .nav-link {
    margin: 0 0.5rem;
  }
  .navbar #navbarText .nav-item a:hover {
    border-bottom: 2px solid var(--text-dark);
    font-weight: 700;
  }

  .navbar #navbarText .nav-item a.active {
    border-bottom: 0.2rem solid var(--secondary-color);
    border-radius: 0.5rem;
  }

  .container__services {
    height: 100vh;
  }

  .container__services .cards {
    gap: 1rem;
  }
  .container__services .card {
    width: 20rem;
    margin: 1rem 0.5rem;
  }

  .container__services .cards .margin-1 {
    margin-top: 4rem;
  }
  .container__services .cards .margin-2 {
    margin-top: 7rem;
  }

  .container__about .card {
    /* width: 13rem !important; */
    margin: 1rem 0.5rem;
  }

  /* .container__about .card  img {
	height: 14rem !important;
	transition:  height .6s;
} */

  .container__about .about_info {
    width: 40%;
    padding: 6rem;
  }

  .container__about .dp_image {
    width: 80%;
  }

  .container__about .dp_image {
    margin-top: 7rem;
  }

  .container__contact {
    margin-top: 5rem;
  }

  /* FOOTER STYLE */
  .container__footer {
    text-align: left;
    padding: 0rem 4rem;
  }



  /* Agriculture css  */
  .container__states .bottom_state .states .state {
    width: 24.36% !important; 
    height: 15rem;
  }
  .container__products .bottom_product .products .product {
    width: 24.36% !important; 
    height: 15rem;
  }



  .container__data .card .card-body {
    align-items: center;
    justify-content: space-around;
  }

  .container__data .cards .card .card-body .dash-icon {
    font-size: 3rem !important;
  }

  .container__data .cards .card .card-body > .title{
    width: 60% !important;
  }
}


