.container__states {
  margin-top: 4rem;
}

.container__states .top_state .title {
  margin-bottom: 1rem;
}
.container__states .top_state .state_search {
  margin: 1rem 0;
  background-color: var(--text-white);
  border-bottom: 1.5px solid var(--text-faint);
  width: 30%;
}

.container__states .top_state .state_search .state_input {
  background-color: transparent;
  border: none;
  outline: none;
}

.container__states .bottom_state .states {
  padding: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  /* justify-content: center; */
}

.container__states .bottom_state .states .state {
  background-image: url("../../../public/images/cowfeild.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column;
  justify-content: baseline;
  color: var(--text-white);
  /* margin: 0.4rem auto; */
  width: 48%;
  padding-top: 6rem;
  overflow: hidden;
}

.container__states .bottom_state .states .state-1 {
  background-image: url("../../../public/images/Cocoa_House\,_Ibadan.JPG");
}

.container__states .bottom_state .states .state-2 {
  background-image: url("../../../public/images/kwara-agro.jpg");
}
.container__states .bottom_state .states .state-3 {
  background-image: url("../../../public/images/Ogun-cargo-airports-1.png");
}

.container__states .bottom_state .states .state-4 {
  background-image: url("../../../public/images/rivers-agbokim-waterfalls.jpg");
}
.container__states .bottom_state .states .state-5 {
  background-image: url("../../../public/images/kano.jpg");
}

.container__states .bottom_state .states .state h4 {
  padding: 0 0.2rem;
  width: max-content;
  background-color: #000000e0;
  box-shadow: 0rem 0.1rem 0.6rem 0.3rem #000000;
}
.container__states .bottom_state .states .state p {
  font-size: 1rem;
  padding: 0.2rem;
  background-color: #000000a6;
}
